:root{
    --orange: #ff900e;
    --gray: #727272;
    --dark1: #131313;
    --dark2: #424242;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* start header styles */
header{
    /* width: 100%; */
    background-color: rgba(255,144,14,0.1);
}
nav{
    width:80%;
    margin: 0 auto;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--dark1);
    font-size: 24px;
    font-weight: 700;
}
.nav-items ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 40px;
    color: var(--dark2);
    font-size: 16px;
    font-weight: 500;
}
.hero{
    width:80%;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
}
.hero h1{
    margin-bottom: 20px;
    color: var(--dark1);
    font-size: 36px;
    font-weight: 700;
}
.hero p{
    margin-bottom: 20px;
    color: var(--gray);
}
.hero button{
    background-color: var(--orange);
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 16px 24px;
    margin-bottom: 20px;
    font-weight: 600;
}
.hero img{
    width: 100%;
    display: block;
}